<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
</head>
<body>

 <!-- Footer -->
	<footer class="footer-section" th:fragment="footer">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Encuentranos!</h4>
                                <span>San Salvador de Jujuy - Jujuy - Argentina</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Contacto!</h4>
                                <span>+54 388 514 4101</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail!</h4>
                                <span>ejemplo@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="/img/cine-logo.jpg" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Descubre la cartelera, los últimos tráilers,
                                 las mejores peliculas, nuestra elección de acción y drama, y mucho más...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                     <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Integrantes</h3>
                            </div>
                            <ul>
                                <li><a href="#">Anahi Avendaño</a></li>
                                <li><a href="#">Tomás Gaspar</a></li>
                                <li><a href="#">Leandro Rufino</a></li>
                                <li><a href="#">Josué Virreyra</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2022, All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
    </footer>
	<!-- Footer -->
</body>
</html>