<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="footer" th:fragment="footer">
		<!--::::Pie de Pagina::::::-->
		<!-- Footer -->
		<footer class="text-center text-lg-start text-white"
			style="background-color: #1c2331">
			<!-- Section: Social media -->
			<section class="d-flex justify-content-between p-4"
				style="background-color: #6351ce">
				<!-- Left -->
				<div class="me-5">
					<span>Redes Sociales!</span>
				</div>
				<!-- Left -->

				<!-- Right -->
				<div>
					<a href="/index" class="text-white me-4"> <i
						class="fab fa-facebook-f"></i>
					</a> <a href="/index" class="text-white me-4"> <i
						class="fab fa-twitter"></i>
					</a> <a href="/index" class="text-white me-4"> <i
						class="fab fa-google"></i>
					</a> <a href="/index" class="text-white me-4"> <i
						class="fab fa-instagram"></i>
					</a> <a href="/index" class="text-white me-4"> <i
						class="fab fa-linkedin"></i>
					</a> <a href="/index" class="text-white me-4"> <i
						class="fab fa-github"></i>
					</a>
				</div>
				<!-- Right -->
			</section>
			<!-- Section: Social media -->

			<!-- Section: Links  -->
			<section class="">
				<div class="container text-center text-md-start mt-5">
					<!-- Grid row -->
					<div class="row mt-3">
						<!-- Grid column -->
						<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<!-- Content -->
							<h6 class="text-uppercase fw-bold">INTEGRANTES</h6>
							<hr class="mb-4 mt-0 d-inline-block mx-auto"
								style="width: 60px; background-color: #7c4dff; height: 2px" />
							<p>Josue Virreyra</p>
							<p>Leandro Rufino</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold">Bootstrap</h6>
							<hr class="mb-4 mt-0 d-inline-block mx-auto"
								style="width: 60px; background-color: #7c4dff; height: 2px" />
							<p>
								<a href="https://getbootstrap.com/" class="text-white">Conseguir</a>
							</p>
							<p>
								<a
									href="https://getbootstrap.com/docs/5.2/getting-started/introduction/"
									class="text-white">Docs</a>
							</p>
							<p>
								<a href="https://icons.getbootstrap.com/" class="text-white">Iconos</a>
							</p>
							<p>
								<a href="https://themes.getbootstrap.com/" class="text-white">Temas</a>
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
							<h6 class="text-uppercase fw-bold">Contacto</h6>
							<hr class="mb-4 mt-0 d-inline-block mx-auto"
								style="width: 60px; background-color: #7c4dff; height: 2px" />
							<p>
								<i class="fas fa-home mr-3"></i> Jujuy, Argentina
							</p>
							<p>
								<i class="fas fa-envelope mr-3"></i> g10@gmail.com
							</p>
							<p>
								<i class="fas fa-phone mr-3"></i> + 54 9 388 572-7014
							</p>
							<p>
								<i class="fas fa-phone mr-3"></i> + 54 9 388 514-4101
							</p>
						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
			</section>
			<!-- Section: Links  -->

			<!-- Copyright -->
			<div class="text-center p-3"
				style="background-color: rgba(0, 0, 0, 0.2)">
				© 2022 Copyright: <a class="text-white"
					href="https://github.com/Jozzzue/TP03GRUPO10">Grupo
					10</a>
			</div>
			<!-- Copyright -->
		</footer>
		<!-- Footer -->

	</div>
</body>
</html>