<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title></title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
	<script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body th:fragment="header">
	<header >	
<!--NavBar-->
<a href="#" class="nameGroup">Grupo 10</a>
    <ul>
    <li><a href="/">Home</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{anotherUser}" sec:authorize="hasRole('ADMIN')">Añadir Usuario</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{listUsers}" sec:authorize="hasRole('ADMIN')">Listar Usuarios</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{anotherMovie}"  sec:authorize="hasRole('ADMIN')">Añadir Peliculas</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{listMovies}" sec:authorize="hasRole('ADMIN')">Listar Peliculas</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{listMovies2}" >Listar Peliculas</a></li>
	      
	      
	      <!--  <li class="nav-item dropdown nav-bar-right" sec:authorize="isAuthenticated()">
          <a class="btn dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
            <a class="dropdown-item" th:href="@{/update/}+${#authentication.getPrincipal().getUsername()}"><i class="fa fa-pencil" aria-hidden="true"></i><small>	Modificar perfil</small></a>
            <a class="dropdown-item" th:href="@{/listTickets/}+${#authentication.getPrincipal().getUsername()}"><i class="fa fa-pencil" aria-hidden="true"></i><small>	Ver tickets</small></a>
           
      		<form th:action="@{/logout}" method="post">
      		<button class="dropdown-item" type="submit">
      		<i class="fa fa-sign-out" aria-hidden="true"></i><small>Cerrar Sesion</small>
      		</button>
      		</form>
              </li>
          </ul>
        </li>
       <li class="nav-item" sec:authorize="!isAuthenticated()">
      	<a class="btn btn-dark" th:href="@{/anotherUser}">Registrarse</a>
      </li>
      <li class="nav-item" sec:authorize="!isAuthenticated()">
      	<a class="btn btn-warning" th:href="@{/login}">Iniciar Sesion</a>
      </li>-->
    </ul>
    <ul>
    <li>
       <li class="nav-item" sec:authorize="!isAuthenticated()">
      	<a class="btn btn-dark" th:href="@{/anotherUser}">Registrarse</a>
      </li>
      <li class="nav-item" sec:authorize="!isAuthenticated()">
      	<a class="btn btn-warning" th:href="@{/login}">Iniciar Sesion</a>
      </li>
    </ul>
    


<ul id="menu" sec:authorize="isAuthenticated()">
   <li><input type="checkbox" name="list" id="nivel1-1"><label for="nivel1-1">Opciones</label>
   <ul class="interior">
             <li><a th:href="@{/update/}+${#authentication.getPrincipal().getUsername()}"><i class="fa fa-pencil" aria-hidden="true"></i><small>	Modificar perfil</small></a></li>
             <li><a th:href="@{/listTickets/}+${#authentication.getPrincipal().getUsername()}"><i class="fa fa-pencil" aria-hidden="true"></i><small>	Ver tickets</small></a></li>
     		 <li>
     		 <form th:action="@{/logout}" method="post">
      		<button class="dropdown-item" type="submit">
      		<i class="fa fa-sign-out" aria-hidden="true"></i><small>Cerrar Sesion</small>
      		</button>
      		</form>
     		 </li>
      </ul>
     </ul>
	</header>
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<script src="/js/navbar.js"></script>
</body>

</html>