<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title></title>

<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body th:fragment="header">
	<header >	
<!--NavBar-->
<a href="#" class="nameGroup">Grupo 10</a>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a th:href="@{anotherUser}">Añadir Usuario</a></li>
    <li><a th:href="@{listUsers}">Listar Usuarios</a></li>
    <li><a th:href="@{anotherMovie}">Añadir Peliculas</a></li>
    <li><a th:href="@{listMovies}">Listar Peliculas</a></li>
    <li><a th:href="@{/anotherUser}">Registrarse</a></li>
    <li><a th:href="@{/login}">Iniciar Sesion</a></li>
    </ul>
	</header>
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<script src="/js/navbar.js"></script>
</body>

</html>