html, body {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 28%, rgba(0, 212, 255, 1) 100%);
		padding-top: 45px;
}

#bodyForm{
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

h1{
	text-align: center;
	font-weight: 700;
}

form{
	background: #fff;
	padding: 40px 0;
	box-shadow: 0 0 6px 0 rgba(255,255,255,0.8);
	border-radius: 10px;
}

.form{
	width: 40%;
	margin-left: 30%;
}

form .grupo{
	position: relative;
	margin: 25px;
}

input{
	background: none;
	color: white;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 80%;
	border: none;
	border-bottom: 1px solid #fff;
}

input:focus{
	outline: none;
	color: rgb(94,93,93);
}

button{
	background: rgb(36,0,3);
background: linear-gradient(90deg, rgba(36,0,3,1) 0%, rgba(231,19,59,1) 28%, rgba(209,0,255,1) 100%);
	border: none;
	width: 80%;
	margin: 10px auto;
	color: white;
	height: 40px;
	font-size: 16px;
	margin-left: 10%;
}

#botonVolver{
background: rgb(0,22,36);
background: linear-gradient(90deg, rgba(0,22,36,1) 0%, rgba(19,144,231,1) 28%, rgba(0,146,255,1) 100%);
	border: none;
	width: 80%;
	margin: 10px auto;
	color: white;
	height: 40px;
	font-size: 16px;
	margin-left: 10%;
	
}
