<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<!-- <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"  rel="stylesheet" type="text/css"> -->
<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<!--Icono NavBar-->
<script src="https://kit.fontawesome.com/eb496ab1a0.js"
	crossorigin="anonymous"></script>
<title>TPFINAL - GRUPO 10</title>
</head>
<body>
<div class="body">
	<div th:insert="/layouts/header :: header"></div>
	
	<div class="container" th:if="${formTicketMessage}">
	<div class="alert alert-success alert-dismissible fade show row" role="alert"  >
		<label th:text="${formTicketMessage}"></label>  
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	</div>
	
	<div class="container">
		<div class="card mb-3" style="max-width: 1000px;" >
		  <div class="row g-0">
				    <div class="col-md-4">
				      <img th:src="${'data:image/png;base64,'+movie.image}" alt="150x150" class=" circle rounded-start" >
				    </div>
					<div class="col-md-8">
						<div class="card-body">
							<h3 class="card-title" th:text="${movie.id}"></h3>
							<h5 class="card-title" th:text="${movie.name}"></h5>
							
							<p class="card-text" th:text="${movie.description}"></p>
							<p class="card-text">
								<small class="text-muted" th:text="${movie.lenght}"></small>
							</p>
							<p class="card-text">
								<small class="text-muted" th:text="${movie.premiere}"></small>
							</p>
							<p class="card-text">
								<small class="text-muted" th:text="${movie.genres}"></small>
							</p>
							<p class="card-text">
								<small class="text-muted" th:text="${movie.hall}"></small>
							</p>
							<p class="card-text">
								<small class="text-muted" th:text="${movie.schedule}"></small>
							</p>
							<div class="card-footer bg-transparent">
								<a th:if="${purchaseLimit == false}" class="btn btn-primary" th:onclick="'javascript:confirmarEliminar(\''+${movie.id}+'\');'">Comprar Entrada</a> 
								<a th:if="${ratingAverg == 0}" class="btn btn-primary" th:onclick="'javascript:confirmarEliminar2(\''+${movie.id}+'\');'">Enviar Valoracion</a>
							</div>
						</div>
					</div>
				</div>
</div>
	</div>

	<div class="row comentarios justify-content-center">
		<div class="col-6">
			<form th:object="${comment}" class="form_comentarios d-flex justify-content-end flex-wrap" th:action="@{/saveComment/}+${movie.id}+'/'+${#authentication.getPrincipal().getUsername()}" method="post">
			<textarea class="form-control" th:field="*{content}" placeholder="comentario">	</textarea>
			<button class="btn" type="submit">Comentar</button>
			</form>
			<div class="media" th:each="com:${comments}" th:if="${comments.size() != 0}" >
				<div class="media-body">
					<div class="nombre">
						<span th:text="${com.date}"></span>
						<p th:text="${com.user.name}"></p>
					</div>
				
				<p class="comentario" th:text="${com.content}"></p>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL ELIMINAR Usuario funciona con JS-->
	<div class="modal fade show row modal-dismissible" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarModal" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="eliminarModalTitulo">Confirmar Compra</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body"><h6></h6>
										<form th:object="${ticket}" th:action="@{/saveTicket/}+${movie.id}+'/'+${#authentication.getPrincipal().getUsername()}" method="post">		
										<label for="cantidadID" class="form-label">Cantidad:</label> 								
										<input th:field="*{tickets}" class="form-control" type="number" max="3" min="1" id="cantidadID" />
										
										
										<div class="modal-footer">									
											<button type="submit" class="btn btn-primary">Comprar</button>
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
										</div>
										</form>
										</div>
									</div>
								</div>
							</div>
		<!-- MODAL VALORACION Usuario funciona con JS-->
	<div class="modal fade show row modal-dismissible" id="modalValorar" tabindex="-1" role="dialog" aria-labelledby="valorarModal" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="valorarModalTitulo">Enviar Valoracion</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
										<div class="container">
										<form th:object="${ticket}" th:action="@{/saveRating/}+${movie.id}+'/'+${#authentication.getPrincipal().getUsername()}" method="post"  class="rate">		
													
													<input type="radio" id="star5" name="rate" value="5" />
												    <label for="star5" title="text">5 stars</label>
												    <input type="radio" id="star4" name="rate" value="4" />
												    <label for="star4" title="text">4 stars</label>
												    <input type="radio" id="star3" name="rate" value="3" />
												    <label for="star3" title="text">3 stars</label>
												    <input type="radio" id="star2" name="rate" value="2" />
												    <label for="star2" title="text">2 stars</label>
												    <input type="radio" id="star1" name="rate" value="1" />
												    <label for="star1" title="text">1 star</label>
												    
												    <div class="modal-footer">
												    	<button type="submit" class="btn btn-primary">Comprar</button>
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>									
														
													</div> 	
										</form>
										</div>
										
										 		
										</div>
									</div>
								</div>
							</div>
	<script type="text/javascript">
		var exampleModal = document.getElementById('modalEliminar')
		exampleModal.addEventListener('show.bs.modal', function(event) {
			// Button that triggered the modal
			var button = event.relatedTarget
			// Extract info from data-bs-* attributes
			var recipient = button.getAttribute('data-bs-mail')
			var recipient2 = button.getAttribute('data-bs-whatever')
			// If necessary, you could initiate an AJAX request here
			// and then do the updating in a callback.
			//
			// Update the modal's content.
			var modalTitle = exampleModal.querySelector('.modal-title')
			var modalBodyInput = exampleModal
					.querySelector('.modal-body input')

			modalTitle.textContent = 'Eliminar Usuario ' + recipient
			modalBodyInput.value = recipient2
		})
	</script>
	<script type="text/javascript">
		var exampleModal = document.getElementById('modalValorar')
		exampleModal.addEventListener('show.bs.modal', function(event) {
			// Button that triggered the modal
			var button = event.relatedTarget
			// Extract info from data-bs-* attributes
			var recipient = button.getAttribute('data-bs-mail')
			var recipient2 = button.getAttribute('data-bs-whatever')
			// If necessary, you could initiate an AJAX request here
			// and then do the updating in a callback.
			//
			// Update the modal's content.
			var modalTitle = exampleModal.querySelector('.modal-title')
			var modalBodyInput = exampleModal
					.querySelector('.modal-body input')

			modalTitle.textContent = 'Eliminar Usuario ' + recipient
			modalBodyInput.value = recipient2
		})
	</script>
	
<script type="text/javascript">
		function confirmarEliminar(id) {
			$("#identificadorDeUsuario").val(id);
			$('#modalEliminar').modal('show');
		}

		function eliminarUsuario() {
			var id = $("#identificadorDeUsuario").val();
			window.location = "/del/" + id;
		}
	</script>
	
	<script type="text/javascript">
		function confirmarEliminar2(id) {
			$("#identificadorDeUsuario").val(id);
			$('#modalValorar').modal('show');
		}

		function eliminarUsuario2() {
			var id = $("#identificadorDeUsuario").val();
			window.location = "/del/" + id;
		}
	</script>
	
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</div>
</body>
</html>