<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Trabajo Práctico FINAL</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<!-- CSS only -->
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<!--  link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"> -->

<!--Icono NavBar-->
<script src="https://kit.fontawesome.com/eb496ab1a0.js"
	crossorigin="anonymous"></script>
<!-- User Dropdown Icons -->	
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
	<!--Header + NavBar  -->
	<header th:insert="/layouts/header :: header"></header>
	<!--Peliculas-->

	<div class="containerSlider" id="container">
		<div class="caption" id="slider-caption">
			<div class="caption-heading">
				<h1></h1>
			</div>
			<div class="caption-subhead">
				<span></span>
			</div>
			<a class="btn" href="#">Sit Amet</a>
		</div>
		<div class="left-col" id="left-col">
			<div id="left-slider"></div>
		</div>
		<ul class="nav">
			<li class="slide-up"><a href="#"><</a></li>
			<li class="slide-down"><a id="down_button" href="#">></a></li>
		</ul>
	</div>
	<!--::::Pie de Pagina::::::-->
	<div th:insert="/layouts/footer :: footer"></div>
	<!-- Scripts -->
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
	<script src="/js/sliderPeliculas.js"></script>
</body>
</html>