<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<!-- <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"  rel="stylesheet" type="text/css"> -->
	<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
	<!--Icono NavBar-->
	<script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
	<title>TPFINAL - GRUPO 10</title>
</head>

<body id="bodyForm">
<div class="container">
<form class="form" th:object="${usuarioDelForm}" th:action="@{/login}" method="post" id="form">
  <div class="grupo"><!-- grupo -->
  <h1>Login</h1>
    <input type="text" class="form-control" id="dni" aria-describedby="dniHelp" placeholder="Ingrese DNI" name="documento" th:field="*{dni}">    
 <label for="dni">DNI</label>
  </div>
  <div class="grupo">
    <input type="password" class="form-control" id="passwordID" placeholder="Contraseña" name="pasaje" th:field="*{password}">
  <label for="passwordID">Password</label>
  </div>  
  <button type="submit" class="btn btn-primary">Ingresar</button>
  <div class="alert-danger text-center" th:if="${formLoginErrorMessage}" th:text="${formLoginErrorMessage}">Name Error</div>  
</form>

	<div th:if="${param.error}" class="alert alert-danger" role="alert">Combinacion Invalida de Usuario y Contraseña</div>
	<div th:if="${param.logout}" class="alert alert-success" role="alert">Ha finalizado sesion</div>
</div>
</body>

</html>